.board-container {
    display: flex;
    flex-direction: column;
   align-items: center;
    margin: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap:2px;
    border: 1px solid #999;
    margin-bottom: 20px;
   
}


.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #999;
    background-color: navy;
    position: relative
}

.ship {
 
    width: 40px;
    height: 40px;
    background-color: navy;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 5px #333;
    cursor: pointer;
}
.ship-container {
    display: flex;
    gap: 5px;
    margin: 20px;
    position: relative;
}
.ship.dragging {
    opacity: 0.5;
}
.ship__part {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border: 1px solid #999;
}
.hidden-ship {
    background-color: transparent;
  }
  .hidden-ship {
    background-color: transparent;
    border: none;
  }
  

