.ship {
    display: flex;
    background-color: #575454;
    cursor: pointer;
}
.ship.dragging {
    opacity: 0.5;
}


.ship-part {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border: 1px solid #999;
    margin: 1px;
}
.ship__part {
    width: 40px;
    height: 40px;
    background-color: rgb(137, 137, 149);
    border: 1px solid #333;
  }
  
