.ship {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border: 1px solid #222;
    border-radius: 4px;
    margin: 2px;
}

.ship-part {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border: 1px solid #999;
    margin: 1px;
}